.button {
  padding: 10px 15px;
  background: indianred;
  color: white;
  border-radius: 5px;
  transition: all .2s ease;

  &:hover{
    cursor: pointer;
    background: lighten(indianred, 5);
  }
}