.table {
  border: 1px solid #CCC;
  border-radius: 5px;
  overflow: hidden;

  &__row {
    &--header {
      background: indianred;
      color: white;
    }
    &:nth-child(even) {
      background: #EEE;
    }
    &:hover{
      background: #CCC;
    }
  }

  &__cell {
    padding: 5px 10px;
    min-width: 150px;

    &:nth-last-child(-n+2) {
      min-width: 50px;
      text-align: center;
      transition: all .2s ease;

      &:hover{
        cursor: pointer;
        background: #DDD;
      }
    }
  }
}